/* public/css/styles.css */

.album-card {
    position: relative;
    overflow: hidden;
}

.album-card img {
    transition: transform 0.3s ease-in-out;
}

.album-card:hover img {
    transform: scale(1.1);
}

/* public/css/styles.css */

.album-card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 192, 192, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;

    /* Tambahkan baris ini untuk mengizinkan pointer events di bawahnya */
}

/* public/css/styles.css */

.album-card:hover .text-white {
    color: white;
}

.album-card.edit-mode::before {
    opacity: 0;
    /* Tidak menampilkan overlay saat mode edit */
}

.album-card:hover::before {
    opacity: 1;
}

.album-card:hover {
    cursor: pointer;
}
